server:
  port: 8080

spring:
  config:
    activate:
      on-profile: prod
    import: application-secret.properties
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DEV_DB_ENDPOINT_URL}:3306/${DEV_DB_NAME}?serverTimezone=Asia/Seoul&autoReconnect=true&useSSL=true&useUnicode=true
    username: ${DEV_DB_USER}
    password: ${DEV_DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_URL}
      port: ${REDIS_PORT}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
  cloud:
    config:
      server:
        awss3:
          region: ${S3_REGION}
          bucket: ${S3_BUCKET_NAME}
          endpoint: ${S3_ENDPOINT}
          credentials:
            access-key: ${S3_ACCESS_KEY}
            secret-key: ${S3_SECRET_KEY}

jwt:
  issuer: ${JWT_ISSUER}
  secret: ${JWT_SECRET}
  validate-time: ${ACCESS_TOKEN_EXPIRED_TIME}

oauth:
  client:
    apple:
      url: https://appleid.apple.com
    kakao:
      url: https://kapi.kakao.com