spring:
  config:
    activate:
      on-profile: local
    import: application-secret.properties
  servlet:
    multipart:
      max-file-size: 5MB
  datasource:
    url: jdbc:h2:mem:testdb;DATABASE_TO_UPPER=false;MODE=MYSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  sql:
    init:
      mode: always
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  cloud:
    config:
      server:
        awss3:
          region: ${S3_REGION}
          bucket: ${S3_BUCKET_NAME}
          endpoint: ${S3_ENDPOINT}
          credentials:
            access-key: ${S3_ACCESS_KEY}
            secret-key: ${S3_SECRET_KEY}

jwt:
  issuer: ${JWT_ISSUER}
  secret: ${JWT_SECRET}
  validate-time: ${ACCESS_TOKEN_EXPIRED_TIME}

oauth:
  client:
    apple:
      url: https://appleid.apple.com
    kakao:
      url: https://kapi.kakao.com

presigned:
  url:
    expired-time: 3600

discord:
  webhook:
    report:
      url: ${DISCORD_REPORT_WEBHOOK_URL}

fcm:
  secret:
    path: ${FCM_SECRET_PATH}

#logging:
#  level:
#    root: debug